<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<security:http use-expressions="true" auto-config="true">

		<security:form-login login-page="/login"
			default-target-url="/" authentication-success-forward-url="/login_success"
			login-processing-url="/perform_login"
			authentication-failure-url="/login" username-parameter="name"
			password-parameter="password" />
		<security:logout logout-url="/perform_logout"
			logout-success-url="/login" />
		<security:csrf disabled="true" />
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider>
			<security:jdbc-user-service
				data-source-ref="dataSource"
				users-by-username-query="select name,password,enabled from User where name=? "
				authorities-by-username-query="select name,role from User where name=? " />

		</security:authentication-provider>
	</security:authentication-manager>

</beans:beans>